/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

#main-img {
  border: 3px solid grey;
}

.link-img {
  border: 1px solid grey;
  width:233px;
}

/*a{*/
/*  width:25%;*/
/*}*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
	/*height: 100%;*/
}

h1 {
  color: #9caba6;
  font-size: 48px;
  margin:0;
  padding:10px;
}

.footer {
  text-align: right;
  font-size:12px;
}

a{
  text-decoration: none;
}

h2 {
  color:grey;
}


img:hover {
  border: 2px solid black;
}

/* Write all remaining styles here */